
body {
  background-color: rgb(103, 147, 185);
}

section {
  border-color: blue;
  
}

div {
  float: left;
  margin: 10px;
}

img {
  max-height: 200px;
  max-width: 100%;
  margin: auto;
}

h2 {
  color: rgb(20, 65, 80)
}

canvas {
  height: 150px;
  width: 150px;
   
}